<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.iocoder.mall.promotionservice.dal.mysql.mapper.coupon.CouponTemplateMapper">

    <update id="updateStatFetchNumIncr" parameterType="Integer">
        UPDATE coupon_template
        SET stat_fetch_Num = stat_fetch_Num + 1
        WHERE id = #{id}
        AND total > stat_fetch_Num
    </update>

</mapper>
