<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.mall.product.dao.ProductSpuMapper">

    <select id="selectById" parameterType="Integer" resultType="ProductSpuDO">
        SELECT
          id
        FROM product_spu
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="ProductSpuDO" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO product_spu (
            name, sell_point, description, cid, pic_urls,
            visible, sort, deleted, create_time
        ) VALUES (
            #{name}, #{sellPoint}, #{description}, #{cid}, #{picUrls},
            #{visible}, #{sort}, #{deleted}, #{createTime}
        )
    </insert>

    <update id="update">

    </update>

</mapper>