<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.iocoder.mall.payservice.dal.mysql.mapper.transaction.PayTransactionMapper">

    <update id="updatePriceTotalIncr">
        UPDATE pay_transaction
        SET refund_total = refund_total + ${refundTotalIncr}
        WHERE id = #{id}
        AND price >= refund_total + ${refundTotalIncr}
    </update>

</mapper>
