spring:
  # Spring Cloud 配置项
  cloud:
    nacos:
      # Spring Cloud Nacos Discovery 配置项
      discovery:
        server-addr: localhost:8848 # Nacos 服务器地址
        namespace: dev # Nacos 命名空间

# Dubbo 配置项
dubbo:
  # Dubbo 注册中心
  registry:
    #    address: spring-cloud://localhost:8848 # 指定 Dubbo 服务注册中心的地址
    address: nacos://localhost:8848?namespace=dev # 指定 Dubbo 服务注册中心的地址

# Mall 认证安全配置
mall.security.admin.demo: true # 是否开启演示模式
