<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.mall.systemservice.dal.mysql.mapper.permission.RoleResourceMapper">

    <insert id="insertList">
        INSERT INTO permission_role_resource (
          resource_id, role_id
        ) VALUES
        <foreach collection="roleResources" item="roleResource" separator=",">
            (#{roleResource.resourceId}, #{roleResource.roleId})
        </foreach>
    </insert>

</mapper>
