<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.mall.order.dao.OrderMapper">

    <sql id="FIELDS">
        id, order_logistics_id, order_no, price, payment_time,
        delivery_time, receiver_time, closing_time, has_return_exchange,
        status, remark
    </sql>

    <!--
        插入数据
    -->
    <insert id="insert" parameterType="OrderDO" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO `order` (
            order_logistics_id, order_no, price, payment_time,
            delivery_time, receiver_time, closing_time,
            has_return_exchange, status, remark
        ) VALUES (
             #{orderLogisticsId}, ${orderNo}, #{price}, #{paymentTime},
             #{deliveryTime}, #{receiverTime}, #{closingTime},
             #{hasReturnExchange}, #{status}, #{remark}
        )
    </insert>

    <!--
        更新 - 可更新的字段
    -->
    <sql id="updateSql" >
        <set>
            <if test="orderLogisticsId != null">
                , order_logistics_id = #{orderLogisticsId}
            </if>
            <if test="orderNo != null">
                , order_no = #{orderNo}
            </if>
            <if test="price != null">
                , price = #{price}
            </if>
-- time
            <if test="paymentTime != null">
                , payment_time = #{paymentTime}
            </if>
            <if test="deliveryTime != null">
                , delivery_time = #{deliveryTime}
            </if>
            <if test="receiverTime != null">
                , receiver_time = #{receiverTime}
            </if>
            <if test="closingTime != null">
                , closing_time = #{closingTime}
            </if>
            <if test="hasReturnExchange != null">
                , has_return_exchange = #{hasReturnExchange}
            </if>
-- other
            <if test="status != null">
                , status = #{status}
            </if>
            <if test="delete != null">
                , `delete` = #{delete}
            </if>
            <if test="createTime != null">
                , create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                , update_time = #{updateTime}
            </if>
            <if test="remark != null">
                , remark = #{remark}
            </if>
        </set>
    </sql>

    <!--
        更新 - 根据 id 更新
    -->
    <update id="updateById" parameterType="OrderDO">
        UPDATE `order`
        <include refid="updateSql" />
        WHERE id = #{id}
    </update>
</mapper>