body {
  margin: 0px;
  padding: 0px;
  color: rgb(34, 34, 34);
  font-family: Helvetica, "Hiragino Sans GB", "Microsoft YaHei", Simsun, "Droid Sans Fallback", sans-serif;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #ffffff;
}

/* 处理 pc 最大尺寸 */
#app {
  border-left: 1px solid #ccc2bf;
  border-right: 1px solid #ccc2bf;
}

@media screen and (min-width: 769px) {
  #app, .van-goods-action, .van-overflow-hidden {
    max-width: 600px!important;
    margin: 0 auto;
  }

  .van-tabbar, .van-submit-bar {
    max-width: 600px!important;
    position:fixed;
    margin:auto;
    left:0;
    right:0;
  }
}
.wap-wrap {
  font-size: 0.32rem;
  width: 100%;
}




#maxWidth {
  display: flex;
  flex: 1;
}


body, div, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, h7, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  border: 0px currentColor;
  vertical-align: top;
}

ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
