<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.mall.pay.dao.PayAppMapper">

    <sql id="FIELDS">
        id, name, status, create_time
    </sql>

    <!--<insert id="insert" parameterType="RoleDO" useGeneratedKeys="true" keyColumn="id" keyProperty="id">-->
        <!--INSERT INTO role (-->
          <!--name, create_time, deleted-->
        <!--) VALUES (-->
          <!--#{name}, #{createTime}, #{deleted}-->
        <!--)-->
    <!--</insert>-->

    <!--<update id="update" parameterType="RoleDO">-->
        <!--UPDATE role-->
        <!--<set>-->
            <!--<if test="name != null">-->
                <!--, name = #{name}-->
            <!--</if>-->
            <!--<if test="deleted != null">-->
                <!--, deleted = #{deleted}-->
            <!--</if>-->
        <!--</set>-->
        <!--WHERE id = #{id}-->
    <!--</update>-->

    <select id="selectById" parameterType="Integer" resultType="PayAppDO">
        SELECT
            <include refid="FIELDS"/>
        FROM app
        WHERE id = #{id}
    </select>

</mapper>