<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.mall.admin.dao.AccessLogMapper">

    <!--<sql id="FIELDS">-->
      <!--id, username, nickname, password, status,-->
      <!--create_time-->
    <!--</sql>-->

    <insert id="insert" parameterType="AccessLogDO" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO access_log (
          trace_id, user_id, user_type, uri, query_string, method, user_agent,
          ip, start_time, response_time, error_code, error_message, create_time
        ) VALUES (
          #{traceId}, #{userId}, #{userType}, #{uri}, #{queryString}, #{method}, #{userAgent},
          #{ip}, #{startTime}, #{responseTime}, #{errorCode}, #{errorMessage}, #{createTime}
        )
    </insert>

</mapper>
