<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.mall.user.dao.OAuth2AccessTokenMapper">

    <insert id="insert" parameterType="OAuth2AccessTokenDO">
        INSERT INTO oauth2_access_token (
          id, refresh_token, adminId, valid, expires_time,
          create_time
        ) VALUES (
          #{id}, #{refreshToken}, #{adminId}, #{valid}, #{expiresTime},
           #{createTime}
        )
    </insert>

    <select id="selectByTokenId" parameterType="String" resultType="OAuth2AccessTokenDO">
        SELECT
          id, adminId, valid, expires_time
        FROM oauth2_access_token
        WHERE id = #{id}
    </select>

</mapper>