<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.mall.user.biz.dao.OAuth2AccessTokenMapper">

    <insert id="insert" parameterType="OAuth2AccessTokenDO">
        INSERT INTO oauth2_access_token (
          id, refresh_token, user_id, valid, expires_time,
          create_time
        ) VALUES (
          #{id}, #{refreshToken}, #{userId}, #{valid}, #{expiresTime},
           #{createTime}
        )
    </insert>

    <select id="selectByTokenId" parameterType="String" resultType="OAuth2AccessTokenDO">
        SELECT
          id, user_id, valid, expires_time
        FROM oauth2_access_token
        WHERE id = #{id}
    </select>

    <update id="updateToInvalidByUserId" parameterType="Integer">
        UPDATE oauth2_access_token
        SET valid = 0
        WHERE user_id = #{userId}
        AND valid = 1
    </update>

    <update id="updateToInvalidByRefreshToken" parameterType="String">
        UPDATE oauth2_access_token
        SET valid = 0
        WHERE refresh_token = #{refreshToken}
        AND valid = 1
    </update>

</mapper>
