<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.mall.user.dao.UserAccessLogMapper">

    <!--<sql id="FIELDS">-->
      <!--id, username, nickname, password, status,-->
      <!--create_time-->
    <!--</sql>-->

    <insert id="insert" parameterType="UserAccessLogDO" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO user_access_log (
          user_id, uri, query_string, method, user_agent,
          ip, start_time, response_time, create_time
        ) VALUES (
          #{userId}, #{uri}, #{queryString}, #{method}, #{userAgent},
          #{ip}, #{startTime}, #{responseTime}, #{createTime}
        )
    </insert>

</mapper>